# Copyright 2020, Oracle Corporation and/or affiliates.  
# Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl

# Identity and access parameters

api_fingerprint = ""

api_private_key_path = ""

compartment_id = ""

region = "us-phoenix-1"

tenancy_id = ""

user_id = ""

ssh_private_key_path = "/path/to/ssh_private_key"

ssh_public_key_path = "/path/to/ssh_public_key"

# general oci parameters
label_prefix = "dev"

# networking

nat_gateway_enabled = true

netnum = {
  admin    = 33
  bastion  = 32
  int_lb   = 16
  masters   = 48
  operator = 18
  pub_lb   = 17
  workers  = 1
}

newbits = {
  admin    = 13
  bastion  = 13
  lb       = 11
  masters   = 12
  operator = 13
  workers  = 2
}

service_gateway_enabled = true

vcn_cidr = "10.0.0.0/16"

vcn_dns_label = "olcne"

vcn_name = "olcne"


# bastion

bastion_access = "ANYWHERE"

bastion_enabled = true

bastion_image_id = "Autonomous"

bastion_notification_enabled = false

bastion_notification_endpoint = ""

bastion_notification_protocol = "EMAIL"

bastion_notification_topic = "bastion_server_notification"

bastion_package_upgrade = false

bastion_shape = "VM.Standard.E2.2"

bastion_timezone = "Australia/Sydney"

admin_enabled = false

admin_image_id = "Oracle"

admin_instance_principal = false

admin_notification_enabled = false

admin_notification_endpoint = ""

admin_notification_protocol = "EMAIL"

admin_notification_topic = ""

admin_package_upgrade = false

admin_shape = "VM.Standard.E2.2"

admin_timezone = "Australia/Sydney"

# availability_domains

availability_domains = {
  bastion  = 1
  admin    = 1
  operator = 1
}

# olcne

## olcne master
master_image_id = "Oracle"

master_package_upgrade = false

master_shape = "VM.Standard.E2.2"

master_size = 1

master_timezone = "Australia/Sydney"

# olcne operator
operator_image_id = "Oracle"

operator_package_upgrade = false

operator_shape = "VM.Standard.E2.2"

operator_timezone = "Australia/Sydney"

# private key for operator

secret_id = ""

environment_name = "dev"

cluster_name = "olcne"

helm_version = "3.1.1"

create_kata_runtime = false

kata_runtime_class_name = "kata"

# certificate

org_unit = ""

org = ""

city = ""

state = ""

country = ""

common_name = ""

# olcne worker
worker_image_id = "Oracle"

worker_package_upgrade = false

worker_shape = "VM.Standard.E2.2"

worker_size = 3

worker_timezone = "Australia/Sydney"