# Copyright (c) 2023 Oracle Corporation and/or affiliates.  All rights reserved.
# Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl

// OCI Identity Variables
tenancy_id = "<tenancy_ocid>"
compartment_id = "<compartment_ocid>"
user_id = "<user_ocid>"
fingerprint = "<fingerprint>"
api_private_key_path = "<api_private_key_path>"

// Common OCI resource variables
region = "<region>"
availability_domain_id = "<availability_domain_name>"
prefix = "<unique_prefix>"

// Compute instance specific variables
ssh_public_key_path = "<ssh_public_key_path>"
ssh_private_key_path = "<ssh_private_key_path>"

// Bastion specific variables
bastion_private_key_path = "<bastion_private_key_path>"

// OCNE Overrides
control_plane_node_count = "3"
worker_node_count = "3"
environment_name = "myenvironment"
kubernetes_name = "mycluster"

